{% load inlinecss %}
{% inlinecss "bootstrap4\css\bootstrap.css" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Verify Email Address</title>
</head>
<body class="container-fluid">
    <div class="row">
        <div id="header" class="col-sm-12">
            <div class="bg-light p-3">
                <nav class="d-flex mb-3">
                    <div class="d-inline bg-white p-1 border border-dark border-5" style="border-radius: 200px !important;">
                         <h4 class="font-weight-bold text-danger">De<span class="text-dark h6">ut</span></h4>
                    </div>
                </nav>
                <hr/>
                <h2>Verify your email address!</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos placeat praesentium quo? Aperiam asperiores excepturi nulla optio reprehenderit sint suscipit. Ad, adipisci asperiores commodi consectetur dicta excepturi nobis quisquam rerum!</p>
            </div>
        </div>
        <div id="body" class="col-sm-12">
            <div class="p-3" style="font-size: 16px !important;">
                <p>Dear {{ receiver_name }}, </p>
                <p>Welcome Louis, Please click the button below to verify your email address.</p>
                <a href="{{ verify_email_link }}" class="btn btn-success">Click to Verify your email address</a>
                <p>if you're unable to access the button, then copy the link below and open on a browser.</p>
                <a style="word-break: break-all !important;" href="{{ verify_email_link }}">{{ verify_email_link }}</a>
            </div>
            <div class="p-3 mt-2 font-weight-bold">
                <hr/>
                <p class="font-weight-normal">Cheers,</p>
                <p>{{ school_name }} Admin.</p>
            </div>
        </div>
        <div id="footer" class="bg-light col-sm-12 p-3 text-center">
            <p>Don't want to receive our emails, you can unsubscribe with the button below</p>
            <a href="{{ unsubscribe_link }}" class="btn btn-danger mb-3">Unsubscribe</a>
            <p class="font-weight-bold">Email from <span class="text-secondary">@{{ school_name }}<span class="text-danger">{{ current_year }}</span></span></p>
        </div>


    </div>
</body>
</html>

{% endinlinecss %}